html {
  background: black;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.section {
  width: 5rem;
  height: 5rem;
  border: 0.2rem solid white;
  cursor: pointer;
}

.player {
  font-size: 3rem;
  color: white;
}

.active-1,
.active-2 {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  pointer-events: none;
}

.active-1 {
  background-image: url("icons/сlose.svg");
}

.active-2 {
  background-image: url("icons/o.svg");
}

.restart_game_dialog,
.new_game_dialog {
  padding: 0;
  border: solid 3px white;
  background-color: black;
  width: 20rem;
  height: 12rem;
}

.title_form,
.restart_title {
  color: white;
  text-align: center;
}

.form_group {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.label_name,
.who_win {
  color: white;
  font-size: 1.4rem;
}

input {
  border: solid 1px white;
  background-color: black;
  color: white;
}

.start_actions,
.restart_actions {
  display: flex;
  justify-content: end;
}

.start_btn,
.restart_new_btn,
.restart_btn {
  border: solid 1px white;
  margin-right: 1rem;
  color: white;
  background-color: black;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}

.who_win {
  text-align: center;
  margin-bottom: 3.5rem;
}
